:root {
    --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Global Stylings */

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type='radio'] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

input[type=radio]+img {
    cursor: pointer;
}

input[type=radio]:hover+img {
    outline: 2px solid blue;
    border-radius: 50%;
}

input[type=radio]:checked+img {
    outline: 2px solid blue;
    border-radius: 50%;
}

.RadioButton {
    display: flex;
    justify-content: space-around;
}

#CleanGood,
#CleanNeutral,
#CleanSad,
#ExpGood,
#ExpNeutral,
#ExpSad {
    display: none;
}

input[type=radio1] {
    display: none;
}

input[type=radio1]+img {
    cursor: pointer;
}

input[type=radio1]:hover+img {
    outline: 2px solid blue;
    border-radius: 50%;
}

input[type=radio1]:checked+label>img {
    outline: 2px solid blue;
    border-radius: 50%;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.Text {
    padding-right: 18px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.01em;
    color: #000000;
}


/* Progressbar */

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 17rem 0 3rem;
}


/* .progressbar::before,
.progress {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
} */

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 8.1875rem;
    height: 0.2875rem;
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-step::after {
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}


/* Form */

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}


/* Button */

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #6F5AF2;
}

.Next {
    float: right;
    display: flex;
    cursor: pointer;
}

.Back {
    float: left;
    display: flex;
    cursor: pointer;
}

.ImageThank {
    margin-left: 18%;
}

.Exp {
    margin-top: 10%;
}

.Buttons-End {
    display: flex;
}

.btn-next {
    float: right;
}

.btn-prev {
    float: left;
}

.Cancel {
    font-family: Barlow;
    font-style: normal;
    font-size: 18px;
    float: right;
    margin-right: 10%;
    text-decoration-line: underline;
    color: #000000;
}

.Submit {
    background: #6F5AF2;
    border-radius: 8px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 200px;
    margin-bottom: 4%;
    height: 100%;
    color: #FFFFFF;
    width: 100%;
    top: auto;
}

input[type='file'] {
    display: none;
}

.AddPhoto {
    background: #6F5AF2;
    border-radius: 5px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    height: 46%;
    color: #FFFFFF;
    width: 79%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
}

.AccurateButton {
    background: #E7E5F4;
    opacity: 1.0;
    border-radius: 2px;
    border-radius: 2px;
    color: #000000;
    margin: 16px 4px 0px 16px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}

.AccurateButton:hover {
    background: #E7E5F4;
    opacity: 1.0;
}

.AccurateButtonSelected {
    background: #E7E5F4;
    border: 1px solid #6F5AF2;
    opacity: 1.0;
    border-radius: 2px;
    color: #000000;
    margin: 16px 4px 0px 16px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}

.Paragraph:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border: 1px solid #6F5AF2;
    box-sizing: border-box;
    border-radius: 6px;
}

textarea {
    padding-top: 10px;
    padding-left: 10px;
}


/* .Paragraph::-webkit-input-placeholder {
    padding-top: 8px;
    padding-left: 10px;
}

.Paragraph::-moz-input-placeholder {
    padding-top: 8px;
    padding-left: 10px;
}

.Paragraph:-moz-input-placeholder {
    padding-top: 8px;
    padding-left: 10px;
}

.Paragraph:-ms-input-placeholder {
    padding-top: 8px;
    padding-left: 10px;
} */

.AccurateContainer {
    position: absolute;
    width: 91%;
    height: 22%;
    background: #F4F4F4;
    top: 68%;
    border-radius: 5px;
}

.InAct {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */
    color: #000000;
}

.PhotosContainer {
    position: absolute;
    width: 88%;
    height: 21%;
    background: #F4F4F4;
    top: 97%;
    border-radius: 5px;
}

.Thankyou {
    justify-content: center;
    text-align: center;
}

.Valid {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.images {
    height: 16px;
    width: 20px;
    margin-top: 2%;
    margin-left: 3%;
    cursor: pointer;
}