.preview__container {
    z-index: 1000;
    position: fixed;
    width: 33%;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    top: 0;
    right: -100%;
    transition: all 0.2s ease-in-out;
}

.preview__container--active {
    right: 0;
}

.preview__container__new {
    z-index: 1000;
    position: fixed;
    width: 33%;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    top: 0;
    right: -100%;
    transition: all 0.2s ease-in-out;
}

.preview__container__new--active {
    right: 0;
}

.preview__description__container {
    padding: 1rem;
}

.preview__close {
    position: sticky;
    float: right;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    z-index: 1000;
}

.preview__close__new {
    position: sticky;
    float: right;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    z-index: 1000;
}

.Info {
    position: sticky;
    float: left;
    left: 1rem;
    top: 1rem;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    z-index: 1000;
}

.preview__button {
    text-decoration: none;
    font-weight: bold;
    background-color: #f9b29c;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}

.preview__title {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

.preview__address {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #717171;
}

.preview__description {
    margin-bottom: 1rem;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #717171;
}

.preview__eurokey {
    font-size: 17px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: -3rem;
    line-height: 1.5rem;
    color: #484848;
    font-family: 'Barlow';
}

.preview__ramp_steepness {
    font-size: 17px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: -3rem;
    line-height: 1.5rem;
    color: #484848;
    font-family: 'Barlow';
}

.preview__door_width {
    font-size: 17px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    margin-left: 2rem;
    margin-top: -3rem;
    color: #484848;
    font-family: 'Barlow';
}

.preview__picture {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.preview__picture__new {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.key_icon {
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1rem;
    font-size: 1rem;
}

.ramp_icon {
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1rem;
    font-size: 1rem;
}

.door_icon {
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1rem;
    font-size: 1rem;
}

.grid_container {
    display: grid;
    grid-template-columns: 187px 1fr;
    grid-gap: 11px;
}

.GoButton {
    width: 277%;
    height: 145%;
    margin-left: 385%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    text-align: center;
    line-height: 149%;
    color: white;
    background-color: #13109E;
    cursor: pointer;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 17px;
    border-color: #13109E;
}

#rcorners3 {
    border-radius: 8px;
    background: #f6f6f6;
    background-position: left top;
    background-repeat: repeat;
    padding: 13px;
    width: 87%;
    height: 45px;
}

@media only screen and (max-width: 768px) {
    .preview__container {
        width: 100%;
        height: 50%;
        top: 50%;
    }
    .preview__container__new {
        width: 100%;
        height: 100%;
        top: 50%;
    }
}

.Info__new {
    display: none;
}

.next {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    margin-top: 128px;
    border-radius: 5px;
    padding: 0.5vh;
    padding-right: 0vh;
    top: 45%;
    position: "none";
}

.previous {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 128px;
    border-radius: 5px;
    margin-left: 16px;
    padding: 0.5vh;
    position: absolute;
    padding-right: 0vh;
    padding-left: 1vh;
}

.LayoutTitle {
    text-align: center;
    padding-left: 10px;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: larger;
}

.Layout1 {
    position: relative;
    padding-left: 20px;
}

.Save {
    display: flex;
}

.SaveImage {
    cursor: pointer;
}