.header__container {
    background-color: #E0EBF8;
    padding: .2rem 0;
    text-align: center;
}

.header {
    background-color: #7B61FF;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Barlow';
    cursor: pointer;
    border-end-start-radius: 5px;
    border: none;
    border-start-start-radius: 5px;
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 20px;
}

.rootLang {
    float: right;
    padding: 10px;
    margin-right: 4px;
    border-radius: 5px;
}